<div id="test"><button routerLink="/games" > Back</button></div>  
<div class="cards" style="margin-left: calc(33.33% - 325px);">
  <a class="card" routerLink="/">
    <img src="../../assets/img/aoe-530px.png">
    <div class="text">
      <p>Age of Empires 1 Original</p>
    </div>
  </a>
  <a class="card" routerLink="/"> 
    <img src="../../assets/img/AOEIILogoCropped.png">
    <div class="text">
      <p>Age of Empires 2</p>
    </div>
  </a>
  <a class="card" routerLink="/"> 
    <img src="../../assets/img/AoEIIHDlogo.png">
    <div class="text">
      <p>Age of Empires 2 HD</p>
    </div>
  </a>
  <a class="card" routerLink="/"> 
    <img src="../../assets/img/aoe3-logo.png">
    <div class="text">
      <p>Age of Empires 3</p>
    </div>
  </a>
  <a class="card" routerLink="/"> 
    <img src="../../assets/img/aoe-defed.png">
    <div class="text">
      <p>Age of Empires Definitive Edition</p>
    </div>
  </a>
</div>
