.cheader {
  white-space: nowrap;
  background-color: #0066CC;
  padding: 0;
  margin: 0;
  height: 110px;
}

.logoimg {
  display: inline-block;
  vertical-align: top;
  width: 95px;
  height: 95px;
  position: absolute;
  margin-top: 8px;
  margin-left: 350px;
}

.hcontainer {
  margin-left: 250px;
  margin-right: 250px;
  list-style-type: none;
  display: inline-block;
  list-style-position: inside;
  padding-left: 400px;
}

.hcontainer a {
  vertical-align: top;
  color: antiquewhite;
  margin-top: 15px;
  font-family: Bahnschrift, serif;
  text-decoration: none;
  float: left;
  font-size: 1.5em;
  padding: 25px;
  transition: 0.5s;
}

.dropdown-games-content a:hover {
  transform: scale(1.1);
  transition: 0.25s;
}

.hc-a {
  cursor: pointer;
}

.hc-a:hover .login-container {
  display: block;

}

.hcontainer .hc-a:hover {
  transform: scale(1.5);
}

.dropdown-games .dropdown-button {
  cursor: pointer;
  vertical-align: top;
  margin-top: 15px;
  font-size: 1.5em;
  padding: 25px;
  border: none;
  outline: none;
  color: antiquewhite;
  background-color: inherit;
  font-family: Bahnschrift, serif;
  transition: 0.5s;
}

.dropdown-games {
  float: left;
  overflow: hidden;
}

.dropdown-games .dropdown-button:hover {
  transform: scale(1.5);
} 


.dropdown-games-content {
  display: none;
  position: absolute;
  background-color: antiquewhite;
  width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  border-radius: 25px;
  z-index: 1;
}

.dropdown-games-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.dropdown-games:hover .dropdown-games-content {
  display: block;
}

.container-login {
  float:left;
  margin-left: 350px;
}

.container-login a {
  font-size: 1em;
  color: antiquewhite;
}

@media screen and (max-width: 1450px) {
  .logoimg {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    height: 95px;
    position: absolute;
    margin-top: 8px;
    margin-left: 50px;
  }
  .hcontainer {
    margin-left: 50px;
    margin-right: 50px;
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
    padding-left: 200px;
  }
  .container-login {
    float:left;
    margin-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  .logoimg {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    height: 95px;
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
  }
  .hcontainer {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
    padding-left: 150px;
  }
  .container-login {
    float:left;
    margin-left: 0px;
  }
}

@media screen and (max-width: 740px) {
  .logoimg {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    height: 95px;
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
  }
  .hcontainer {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
    padding-left: 150px;
  }
  .container-login {
    float:left;
    margin-left: 0px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation-name: rotating;
  animation-duration: 7.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.rotating:hover {
  animation-play-state: paused;
}

#login-modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.login-container {
  margin: auto;
  width: 50%;
  background-color: #FFFFFF;
}

.login-img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

.login-interior-container {
  text-align: center;
}

.login-exterior-container {
  text-align: left;
  margin-left: 5%;
}

.login-cancel-button {
  background-color: #123;
  color: white;
  padding: 14px 20px;
  margin: 7px;
  border: none;
  cursor: pointer;
  overflow: auto;
}

.login-signin-btn {
  background-color: #0066CC;
  color: white;
  padding: 14px 20px;
  margin: 7px;
  border: none;
  cursor: pointer;
}

.login-signup-btn {
  background-color: #281;
  color: white;
  padding: 14px 20px;
  margin: 7px;
  border: none;
  cursor: pointer;
}

.login-checked-cls {
}

form {
  border: 1px solid #0066CC;
}

input[type=text], input[type=password] {
  margin-left: 10px;
  padding: 12px 20px;
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
}

p span {
  display: block;
}
p {
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}

img.avatar {
  height: 50%;
  width: 50%;
}
