.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

.interior-container {
  text-align: center;
}

.exterior-container {

}

.cancel-button {

}

.signin-btn {
  background-color: #0066CC;
  color: white;
  padding: 14px 20px;
  margin: 7px;
  border: none;
  cursor: pointer;
}

.checked-cls {

}

form {
  border: 1px solid #0066CC;
}

input[type=text], input[type=password] {
  margin-left: 10px;
  padding: 12px 20px;
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

p span {
  display: block;
}
p {
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}

img.avatar {
  height: 50%;
  width: 50%;
}
