<div class="container">
  <form action="/login">
    <div class="img-container">
      <img src="../../assets/img/accountlogin-icon.png" alt="accimg" class="avatar">
    </div>
    <div class="interior-container">
      <p span>Username/Email<p>
      <label>
        <input type="text" placeholder="username/email" name="usname" required autocomplete="off" >
      </label>
      <p span>Password</p>
      <label>
        <input type="password" placeholder="******" name="psw">
      </label>
      <br>
      <button type="submit" class="signin-btn">Sign in</button>
      <br>
      <label>
        <input class="checked-cls" type="checkbox" checked="checked" name="remember">Remember me
      </label>
    </div>

    <div class="exterior-container">
      <button type="button" class="cancel-button">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
