<div><button [routerLink]="['../']" id="games-back">&lt; Back</button></div>
<div class="cards" style="margin-left: 0px; margin-left: calc(20% - 325px);">
  <a class="card" routerLink="/">
    <img src="../../assets/img/Far_cry_logo-1-.gif">
    <div class="text">
      <p>Far Cry® 1</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/far-cry-2.png">
    <div class="text">
      <p>Far Cry® 2</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/Far_Cry_3_-_Logo.svg.png">
    <div class="text">
      <p>Far Cry® 3</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/Far_Cry_4_-_Logo.svg.png">
    <div class="text">
      <p>Far Cry® 4</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/Far-Cry-Primal-white-Logo.jpg">
    <div class="text">
      <p>Far Cry® Primal</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/far-cry-5-logo-png-16.png">
    <div class="text">
      <p>Far Cry® 5</p>
    </div>
  </a>
  <a class="card" routerLink="/">
    <img src="../../assets/img/fc-nd.png">
    <div class="text">
      <p>Far Cry® New Dawn</p>
    </div>
  </a>
</div>
