<div><button [routerLink]="['games']" id="test" style="border: none; font-size: 24px; margin-left: 3%; margin-top: 10px">&lt; Back</button></div>
<div class="cards" style="margin-left: calc(50% - 325px);">
  <a class="card" [routerLink]="['']">
    <img src="../../assets/img/PayDay_White_Logo.jpg" alt="PDL">
    <div class="text">
      <p>Payday: The Heist</p>
    </div>
  </a>
  <a class="card" [routerLink]="['']">
    <img src="../../assets/img/Payday-2-logo-021.jpg" alt="PD2L">
    <div class="text">
      <p>Payday 2</p>
    </div>
  </a>
</div>
